@model IEnumerable<RegistryWebApplication.Models.Commission>

@{
    ViewData["Title"] = "Index";
}

<h1>Commissions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeadLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadFathersName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HeadLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadFathersName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommissionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommissionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommissionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
